html
  head
    title= title
    include top_includes.pug
  body
    div.container
      include nav.pug
      div.jumbotron#profileJumbotron
        h2 Profile
        div#userProfile
          div.myavatar
            img(id="myavatar_" + profile.user_id, src="images/avatars/" + profile.user_id + ".png", style="margin-top: 5px").droppable.avatar
          div#profile
            div#profileName <b>Name:</b> #{profile.name}
            div#profileUsername <b>Username:</b> #{profile.username}
            div#profilePermissions <b>System Permissions:</b> #{profile.permissions}
            form 
              div.form-group.cp-form-group
                label New Password:
                input(type='password')#cpNew.form-control.cp-form-control
              div.form-group.cp-form-group
                label Confirm:
                input(type='password')#cpConfirm.form-control.cp-form-control
              button#changePassword.btn.btn-primary Change Password
      div.jumbotron#usersJumbotron(style='display: none;')
        h2 Users
          button.propButton.btn.btn-primary#newUser(type='button', style="float: right;") New User
        table#usersTable
        
script var is_admin = !{is_admin};
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootbox.min.js')
script(src='js/tabulator.js')
script(src='js/config.js')
