html
  head
    title= title
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='css/tabulator_custom.css')
    link(rel='stylesheet', href='css/bootstrap.darkly.min.css')
    link(rel='stylesheet', href='css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='css/image-picker.css')
    link(rel='stylesheet', href='css/quill.snow.css')
    link(rel='stylesheet', href='css/jstree.min.css')
    link(rel='stylesheet', href='css/palette-color-picker.css')
    link(rel='stylesheet', href='css/toastr.min.css')
    link(rel='stylesheet', href='css/fa.css')
    link(rel='stylesheet', href='css/style.css')    

  body
    div.container-fluid
      div.clockBar#clockBar
        div
        div.clock#est
        div(style="font-weight: 900; color: #f9ff00;") #{username}@#{mission_name}
        div.clock#utc
        div
      include nav.pug
      div.jumbotron#diagramJumbo(style='height:700px;')
        div.canvas#diagram
          div#canvas
          div#message
          div#objectSearchBar
            input(type="text", placeholder="Search...").form-control#objectSearch
            span#foundCount
            span.input-group-btn
              button.btn.btn-secondary#prevObjectSearch &#8249;
              button.btn.btn-secondary#nextObjectSearch &#8250;
          div#zoom-buttons
            button.zoomIn#zoomInButton.ui-icon.ui-icon-zoomin
            button.zoomOut#zoomOutButton.ui-icon.ui-icon-zoomout
            button.cancelLink#cancelLinkButton Cancel Link
          div#minimap
            canvas#minimapBgCanvas
            canvas#minimapCanvas
        div#toolbar
          div.vertNav.vertNavOutsideLeft#toolbarNav
            div.vertTab.vertTabSm#toggleTab
              a.openCloseIcon#toolbarButton
            div.vertTab#toolsTab
            div.vertTab#notesTab
            div.vertTab#filesTab
          div.vertNav.vertNavOutsideLeft.click-through 
            div.tabText.tab-float.rotated#toolsTabTag TOOLS
            div.tabText.tab-float.rotated#notesTabTag NOTES
            div.tabText.tab-float.rotated#filesTabTag FILES
          div#toolbarBody
            div#notesForm.toolbar-form
              //button.btn.btn-primary#newNoteButton(disabled) New Note
              div#notes
            div#filesForm.toolbar-form
              div#files
              div#progressbarContainer
                div#progressbar
            div#toolsForm.toolbar-form
              div#tools
                span.toolbarTitle#toolbarTitle Edit Object
                button.propButton.btn.btn-success#newObjectButton(type='button' disabled) New!
                input(type="hidden", name="id")#propID
                input(type="hidden", name="type")#propType
                div.form-group#propNameGroup
                  label Name
                  textarea(name="name" disabled).form-control#propName
                div.form-group#propColorGroup
                  label Color
                  div.colors
                    span#propFillColorSpan
                      input#propFillColor(name="propFillColor" type="text" style="width: 0px; border: 0px")
                    span#propStrokeColorSpan
                      input#propStrokeColor(name="propStrokeColor" type="text" style="width: 0px; border: 0px")
                div.form-group#propObjectGroup
                  ul
                    li
                      a(href="#tabs-icon") Icons
                    li
                      a(href="#tabs-shape") Shapes
                    li
                      a(href="#tabs-link") Links
                  div#tabs-icon
                    select.image-picker#prop-icon
                      each icon in icons
                        option(data-img-src="images/icons/" + icon, data-img-class="first", value=icon) icon
                  div#tabs-shape
                    select.image-picker#prop-shape
                      each shape in shapes
                        option(data-img-src="images/shapes/" + shape, data-img-class="first", value=shape) shape
                  div#tabs-link
                    select.image-picker#prop-link
                      each link in links
                        option(data-img-src="images/links/" + link, data-img-class="first", value=link) link
                div.form-group#moveObject
                    div.checkbox#lockObjectGroup
                      label
                        input(type="checkbox", value="0" disabled)#lockObject
                        | Locked?
                    div#sizeObject.input-group
                      div.col-sm-4
                        input(type="number" min="0" max="1000" disabled)#objectWidth.form-control
                      span.input-group-addon x
                      div.col-sm-4
                        input(type="number" min="0" max="1000" disabled)#objectHeight.form-control
                    button.propButton.btn.btn-secondary#moveUp(type='button' disabled) Up
                    button.propButton.btn.btn-secondary#moveDown(type='button' disabled) Down
                    button.propButton.btn.btn-secondary#moveToFront(type='button' disabled) Front
                    button.propButton.btn.btn-secondary#moveToBack(type='button' disabled) Back
                div.form-group#makeObject
                    button.propButton.btn.btn-primary#insertObjectButton(type='button' disabled) Insert
                    button.propButton.btn.btn-info#editNotesButton(type='button') Object Notes
                    button.propButton.btn.btn-danger#deleteObjectButton(type='button' disabled) Delete
      
      div.jumbotron#bottomJumbo(style="overflow: visible")
        div.bottomContainer
          div.droppable#chat
            div#chatDropZone
              div#chatDropZoneBanner Drop the file here to upload to chat.
              div#chatProgressbarContainer
                div#chatProgressbar
            div#channelsWrapper
              div#channels
                div.channelHeading#channelsHeading Channels
                div.channelHeading#usersHeading Users
              div.channelHeading#newChannel +New Channel
            div#channelPanesWrapper
              div#channelPanes
              div#channelFooter
                input(type="text", name="messageInput")#messageInput.messageInput

          div#settings.tableContainer(style="display: none;")
            div.tableHeader
              button.propButton.btn.btn-primary.tableButton#addUser(type='button') Add User
              h4.tableTitle Settings
            div.tableBody
              table#settingsTable

          div#events.tableContainer(style="display: none;")
            div.tableHeader
              button.propButton.btn.btn-primary.tableButton#addEvent(type='button') Add Event
              h4.tableTitle Events
              div.timelineButton
                a.btn.btn-secondary(href="#", style='margin-right: 5px')#timelineBack
                  i.fa.fa-left-big
                a.btn.btn-secondary(href="#", style='margin-right: 5px')#timelineCancel
                  i.fa.fa-cancel-circled
                a.btn.btn-secondary(href="#")#timelineForward
                  i.fa.fa-right-big
               
            div.tableBody
              table#eventsTable

          div#opnotes.tableContainer(style="display: none;")
            div.tableHeader
              button.propButton.btn.btn-primary.tableButton#addOpnote(type='button') Add Opnote
              h4.tableTitle Opnotes
            div.tableBody
              table#opnotesTable
            
        div#tableNav.vertNavInsideRight
          div.vertNav
            div.vertTab.activeTab#chatTab
            div.vertTab#eventsTab
            div.vertTab#opnotesTab
            div.vertTab#settingsTab(style='display: none;')
            div.vertNav.click-through(style='position: absolute;')
              div.tabText.tab-float.rotated#chatTabTag CHAT
              div.tabText.tab-float.rotated#eventsTabTag EVENTS
              div.tabText.tab-float.rotated#opnotesTabTag OPNOTES
              div.tabText.tab-float.rotated#settingsTabTag(style='display: none;') SETTINGS

    div#windowPane.windowPane

script(type="template/text", id="details_template")
  div.window-dialog.modal-dialog
    div.window-content.modal-content
      div.window-header.modal-header
        div.window-title.modal-title
      div.window-body.modal-body
      div.window-footer.modal-footer

script var permissions = !{permissions}; var user_id = "#{user_id}"; var username = "#{username}";
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery.overlayScrollbars.min.js')
script(src='js/mxClient.min.js')
script(src='js/toastr.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootbox.min.js')
script(src='js/sharedb-client.min.js')
script(src='js/rich-text.min.js')
script(src='js/highlight.min.js')
script(src='js/quill.min.js')
script(src='js/image-picker.min.js')
script(src='js/jstree.min.js')
script(src='js/palette-color-picker.min.js')
script(src='js/moment.min.js')
script(src='js/tempusdominus-bootstrap-4.min.js')

script(src='js/bootstrap-window.js')
script(src='js/tabulator.js')
script(src='js/helpers.js')
script(src='js/toolbar.js')
script(src='js/notes.js')
script(src='js/files.js')
script(src='js/chat.js')
script(src='js/diagram.js')
script(src='js/cop.js')

//script(src='js/cop.min.js')
