doctype html
html
  head
    title= title
    link(id='favicon', rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='css/tabulator_bootstrap.min.css')
    link(rel='stylesheet', href='css/tabulator_custom.css')
    link(rel='stylesheet', href='css/bootstrap.darkly.min.css')
    link(rel='stylesheet', href='css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='css/quill.snow.css')
    link(rel='stylesheet', href='css/jstree.min.css')
    link(rel='stylesheet', href='css/palette-color-picker.css')
    link(rel='stylesheet', href='css/fa.css')
    link(rel='stylesheet', href='css/style.css')  
    link(rel='stylesheet', href='css/diagram.css')
    link(rel='stylesheet', href='css/toolbar.css')
    link(rel='stylesheet', href='css/chat.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700')

  body
    div.container-fluid
      div.clockBar#clockBar
        div
        div.clock#est
        div(style="font-weight: 900; color: #f9ff00;") #{username}@#{mission_name}
        div.clock#utc
        div
        
      include nav.pug
      div.jumbotron#diagramJumbo(style='height:700px;')
        div#graph
          div#canvas
          div#message
          div#graphSearchBar
            input(type="text", placeholder="Search...").form-control#graphSearchInput
            span#graphSearchFoundCount
            button.btn.btn-secondary.fa.fa-up-open#graphSearchPrevButton
            button.btn.btn-secondary.fa.fa-down-open#graphSearchNextButton
            button.btn.btn-secondary.fa.fa-cancel-circled#graphSearchClose

          div#zoomButtons
            button.zoomIn#zoomInButton.ui-icon.ui-icon-zoomin
            button.zoomOut#zoomOutButton.ui-icon.ui-icon-zoomout

          div#graphOutline

        div#toolbar
          div.vertNav.vertNavOutsideLeft#toolbarNav
            div.vertTab.vertTabSm#toggleTab
              a.openCloseIcon#toolbarButton
            div.vertTab#toolsTab
            div.vertTab#notesTab
            div.vertTab#filesTab

          div.vertNav.vertNavOutsideLeft.click-through 
            div.tabText.tabFloat.rotated#toolsTabTag TOOLS
            div.tabText.tabFloat.rotated#notesTabTag NOTES
            div.tabText.tabFloat.rotated#filesTabTag FILES

          div#toolbarBody
            div#notesForm.toolbarForm
              div#notes.tableContainer
                div.tableHeader
                  h5.tableTitle Notes
                div.tableBody
                  table#notesTable

            div#filesForm.toolbarForm
              div#files
              div#progressbarContainer
                div#progressbar

            div#toolsForm.toolbarForm
              div#tools
                div#toolbarNewGroup
                  h5 Tools
                  div#toolbarIcons
                    div#toolbarIconsHeader

                div#toolbarEditGroup(style="display: none")
                  span.toolbarTitle Edit Object
                  div.form-group
                    div.colors
                      div.toolbarColorGroup
                        span#toolbarFillColorSpan
                          input#toolbarFillColor(name="propFillColor" type="text" style="width: 0px; border: 0px")
                        span.toolbarColorLabel Fill
                      div.toolbarColorGroup
                        span#toolbarStrokeColorSpan
                          input#toolbarStrokeColor(name="propStrokeColor" type="text" style="width: 0px; border: 0px")
                        span.toolbarColorLabel Stroke
                      div.toolbarColorGroup
                        span#toolbarFontColorSpan
                          input#toolbarFontColor(name="propFontColor" type="text" style="width: 0px; border: 0px")
                        span.toolbarColorLabel Font
                  div.form-group
                    span.toolbarColorLabel Value
                    textarea#toolbarValue
                  div.form-group
                    span.toolbarColorLabel Style
                    textarea#toolbarStyle

                  div#toolbarEdgeOptions
                    div.form-group#toolbarEdgeDashOptions
                      button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false")
                        img.dropdownImage.spriteSolidLine(src="/images/sprites.png")
                        span.glyphicon.glyphicon-chevron-down
                      ul.dropdown-menu
                        li
                          img.dropdownImage.spriteSolidLine(src="/images/sprites.png", data-style='{ "dashed": 0, "dashPattern": 0 }')
                          | Solid
                        li
                          img.dropdownImage.spriteDashedLine(src="/images/sprites.png", data-style='{ "dashed": 1, "dashPattern": 0 }')
                          | Dashed
                        li
                          img.dropdownImage.spriteDottedLine(src="/images/sprites.png", data-style='{ "dashed": 1, "dashPattern": "1 1" }')
                          | Dotted
                        li
                          img.dropdownImage.spriteDottedLine1(src="/images/sprites.png", data-style='{ "dashed": 1, "dashPattern": "1 2"}')
                          | Dotted (1)

                    div.form-group#toolbarEdgeWaypointOptions
                      button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false")
                        img.dropdownImage.spriteStraightLine(src="/images/sprites.png")
                        span.glyphicon.glyphicon-chevron-down
                      ul.dropdown-menu
                        li
                          img.dropdownImage.spriteStraightLine(src="/images/sprites.png", data-style='{ "edgeStyle": 0, "elbow": 0 }')
                          | Straight
                        li
                          img.dropdownImage.spriteOrthagonalLine(src="/images/sprites.png", data-style='{ "edgeStyle": "orthogonalEdgeStyle", "elbow": "vertical" }')
                          | Orthagonal

                  div.form-group
                      button.toolbarButton.btn.btn-secondary#toolbarMoveToFront(type='button') Front
                      button.toolbarButton.btn.btn-secondary#toolbarMoveToBack(type='button') Back

                  div.form-group
                      button.toolbarButton.btn.btn-info#toolbarEditNotes(type='button') Object Notes
                      button.toolbarButton.btn.btn-danger#toolbarDeleteButton(type='button') Delete
      
      div.jumbotron#bottomJumbo(style="overflow: visible")
        div.bottomContainer
          div.droppable#chat
            div#chatDropZone
              div#chatDropZoneBanner Drop the file here to upload to chat.
              div#chatProgressbarContainer
                div#chatProgressbar

            div#chatChannelsWrapper
              div#chatChannels
                div.channelHeading#chatChannelsHeading Channels
                div.channelHeading#chatUsersHeading Users
              div.channelHeading#chatNewChannel + New Channel

            div#chatChannelPanesWrapper
              div#channelPanes
              div#channelFooter
                div#messageInput.messageInput(contenteditable)
                

          div#settings.tableContainer(style="display: none;")
            div.tableHeader
              button.toolbarButton.btn.btn-primary.tableButton#addUser(type='button') Add User
              h4.tableTitle Settings
            div.tableBody
              table#settingsTable

          div#events.tableContainer(style="display: none;")
            div.tableHeader
              button.toolbarButton.btn.btn-primary.tableButton#addEvent(type='button') Add Event
              h4.tableTitle Events
              div.timelineButton
                a.btn.btn-secondary(href="#", style='margin-right: 5px')#timelineBack
                  i.fa.fa-up-open
                a.btn.btn-secondary(href="#", style='margin-right: 5px')#timelineCancel
                  i.fa.fa-cancel-circled
                a.btn.btn-secondary(href="#")#timelineForward
                  i.fa.fa-down-open
               
            div.tableBody
              table#eventsTable

          div#opnotes.tableContainer(style="display: none;")
            div.tableHeader
              button.toolbarButton.btn.btn-primary.tableButton#addOpnote(type='button') Add Opnote
              h4.tableTitle Opnotes
            div.tableBody
              table#opnotesTable
            
        div#tableNav.vertNavInsideRight
          div.vertNav
            div.vertTab.activeTab#chatTab
            div.vertTab#eventsTab
            div.vertTab#opnotesTab
            div.vertTab#settingsTab(style='display: none;')
            div.vertNav.click-through(style='position: absolute;')
              div.tabText.tabFloat.rotated#chatTabTag CHAT
              div.tabText.tabFloat.rotated#eventsTabTag EVENTS
              div.tabText.tabFloat.rotated#opnotesTabTag OPNOTES
              div.tabText.tabFloat.rotated#settingsTabTag(style='display: none;') SETTINGS

    div#windowPane.windowPane

script(type="template/text", id="details_template")
  div.window-dialog.modal-dialog
    div.window-content.modal-content
      div.window-header.modal-header
        div.window-title.modal-title
      div.window-body.modal-body
      div.window-footer.modal-footer

script var permissions = !{permissions}; var user_id = "#{user_id}"; var username = "#{username}";
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/popper.min.js')
script(src='js/jquery.overlayScrollbars.min.js')
script(src='js/textareaAutosize.min.js')
script(src='js/mxClient.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootbox.min.js')
script(src='js/sharedb-client.min.js')
script(src='js/rich-text.min.js')
script(src='js/highlight.min.js')
script(src='js/quill-cursors.min.js')
script(src='js/quill.min.js')
script(src='js/jstree.min.js')
script(src='js/palette-color-picker.min.js')
script(src='js/moment.min.js')
script(src='js/tempusdominus-bootstrap-4.min.js')
script(src='js/objectid.min.js')
script(src='js/bootstrap-window.js')
script(src='js/tabulator.js')
script(src='js/helpers.js')
script(src='js/toolbar.js')
script(src='js/notes.js')
script(src='js/files.js')
script(src='js/chat.js')
script(src='js/graph.js')
script(src='js/cop.js')
script(src='images/icons/icons.js')

//script(src='js/cop.min.js')
